*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

/* common */

.section-subheading {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.178;
  letter-spacing: -2.24px;
}

.section-heading-lv3 {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}

.btn {
  background: #5d3bee;
  max-width: 170px;
  color: #fdfdfd;
  font-family: "DM Sans";
  font-size: 1.8rem;
  padding: 16px 37px;
  font-weight: 700;
  line-height: 1.66667;
  display: block;
  text-decoration: none;
}

.section-desc-lv1 {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66667;
}

.section-heading {
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.95;
  letter-spacing: -0.32rem;
}

.inner {
  width: 100%;
  margin-bottom: 140px;

  background: #ccc;
}
/* Header */
.header {
  background: #fbfaff;
}

.header__inner {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  padding: 20px 0;
}

.avt-profile {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.gender {
  width: 100%;
  object-fit: cover;
}

.icon-email {
  width: 46px;
  height: 46px;
  position: relative;
  border: 1px solid #5d3bee;
  border-radius: 50%;
}

.email-img {
  width: 24px;
  height: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.email-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.name-mail {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 30px;
}

.nav-list ul {
  display: flex;
}

.nav-list__header {
  padding: 10px 21px;
  display: block;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

/* Hero */

.hero__inner {
  position: relative;
}

.hero__media {
  height: 100%;
  position: relative;
}

.hero__image {
  width: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
  display: block;
}

.hero__decor {
  position: absolute;
  width: 168.13%;
  bottom: 0;
  left: -35.36%;
}

/* Hero-content */
.hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  position: relative;
}
.hero__desc {
  margin-top: 20px;
  width: 370px;
}

.hero-action {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.hero__link {
  display: block;
  margin-left: 30px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66667; /* 166.667% */
}

.hero-media-row {
  margin-top: 104px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.media-icon__text {
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.87;
}

.hero-content-media {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.media-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #080415;
  position: relative;
}

.media-icon-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hero-content__decor {
  position: absolute;
  bottom: 0;
  translate: 60% 0;
}

/* branch */

.branch {
  margin-top: 100px;
}

.brand-subheading {
  width: 253px;
  position: relative;
  margin-left: 100px;
  color: #080415;
font-size: 4.2rem;
font-weight: 500;
line-height: 1.19; /* 119.048% */
letter-spacing: -1.68px;
}

.brand-subheading::before {
  content: "";
  position: absolute;
  display: block;
  width: 86px;
  height: 2px;
  background: #5d3bee;
  left: -100px;
  top: 22px;
}

.branch-row {
  display: flex;
  align-items: center;
}

.logo-branch {
  display: flex;
  column-gap: 36px;
  max-width: 713px;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.logo-branch-media {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  flex-grow: 1;
}

.logo-branch-media:nth-child(1) {
  margin-right: 35px;
}

.logo-branch-media:nth-child(2) {
  margin-right: 30px;
}

/* spec-section */
.spec-section {
  margin-top: 133px;
}

.spec-heading,
.spec-desc {
  text-align: center;
}

.spec-desc {
  margin-top: 20px;
  width: 534px;
  margin-left: auto;
  margin-right: auto;
}

.spec-list {
  margin-top: 60px;
}

.spec-item {
  height: 306px;
  background: #fbfaff;
  padding: 33px 43px;
}

.spec__heading {
  margin-top: 22px;
}

.spec-item__desc {
  margin-top: 15px;
  width: 285px;
}

.spec-icon {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid #080415;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* project-recent */

.project-recent {
  margin-top: 140px;
  padding: 86px 0;
  background: #5d3bee;
}

.project__heading {
  color: #fff;
}


.project-desc {
  color: #fff;

}

.project-list {
  margin-top: 70px;
}

/* project-media */

.project-image {
  width: 246px;
  height: 187px;
}


.project-img {
  width: 100%;
  object-fit: cover;
}

